:root {
    --background-color: #120D1B;
    --primary-color: #251B37;
    --secondary-color: #FFCACA;
    --text-color: #FFFFFF;
    --shadown-color: #191324;
}

a {
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    background-color: var(--background-color);
    font-family: 'Roboto', system-ui;
    color: var(--text-color);
}


.navbar:hover {
    width: 20%;
}

/* Contenedor principal ocupa todo el espacio restante */
.app-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20%; /* Deja espacio para el navbar */
    padding: 0.5rem;
}

main {
    width: 90%;
    padding: 2rem;
    transition: margin-left 0.3s ease-in-out;
}

.navbar:hover + main {
    margin-left: 10%; 
    width: 80%;
}
